body {
    background-color: grey;
    font-family: 'Times New Roman'
    
}
p {color: rgb(128, 58, 0);
    font-size: 200%;
    font-family:'Times New Roman'; 
    font-weight: 100;
      }
      div.relative {
        position: absolute;
        width: 900px;
        height: 900px;
        border: 10px solid #73AD21;
      }
h1 {color:rgb(0, 132, 255);
    font-size: 150%; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 


}
h2 {color: rgb(128, 84, 168);
    font-size: 150%; 
    font-family: 'Courier New', Courier, monospace; 
}
h3 {color: rgb(128, 84, 168);
    font-size: 150%; 
    font-family: 'Courier New', Courier, monospace; 
}
h4 {color: rgb(21, 12, 29);
    font-size: 100%; 
    font-family: 'Courier New', Courier, monospace; 
}



